<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Poker Planner</title>
</head>
<body>
<p>Gameboard</p>
<!--<p th:text="'Session ID: ' + ${sessionID}">sessionID</p>-->
<p th:text="'Game name: '+${gameName}">gameName</p>
<p th:text="'Your name: '+${playerName}">gameName</p>

<table style="border: solid 2px black;">
    <thead>
    <tr>
        <th>Session ID.</th>
        <th>Player Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="player: ${playerList}">
        <td th:text="${player.value}">1</td>
        <td th:text="${player.key}">1</td>
    </tr>
    </tbody>
</table>



<a th:href="@{/join/{currentGameUUID}(currentGameUUID=${currentGameUUID})}">Join Link</a>
<a th:href="@{/}">Main page</a>
</body>
</html>