<!DOCTYPE html>
<html>

<head>
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary" th:fragment="header">
    <div class="container-fluid">
      <img src="/favicon.ico" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      <a class="navbar-brand" href="/">PokerPlanner</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" id="home" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="gameboard" href="/gameboard">Game Board</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              About
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/about">App</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/author">Author</a></li>
            </ul>
          </li>
        </ul>
        <span class="navbar-text" th:text="${playerName}">1</span>
      </div>

    </div>
  </nav>
</body>

</html>